.sidebar-nav-fixed{
    position: absolute;
    left: 0;bottom: 0; top: 50px;
}

.content{
    position: absolute;left: 240px;right:0;bottom: 0; top: 50px;
    margin: 0;
    padding: 0;
}

.content > iframe{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}